@layer reset, theme, global, layout, modules, utility;

@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-width: 100%;
  }
}

@layer theme {
  :root {
    --medium-blue: #1d01fb;
    --magenta: #cf01fc;
    --snake-green: #63ff00;
    --food-pink: #f06438;
    --black: #000;
    --white: #fff;

    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    background-color: var(--snake-green);
    color: var(--black);
    border: unset;
    font-style: inherit;
    text-transform: inherit;
    padding: 5px 15px;
    cursor: pointer;
  }

  button:hover {
    outline: 2px solid var(--snake-green);
    color: var(--snake-green);
    background-color: unset;
  }
}

@layer global {
  #root {
    margin: 0 auto;
    padding: 2rem;
    place-items: center;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
    background-color: var(--black);
  }
}

@layer layout {
  .game {
    border: 1.25rem solid var(--medium-blue);
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
    color: var(--snake-green);
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .title {
    padding: 1.5rem 0;
  }
}

@layer modules {
  .board {
    position: relative;
    display: flex;
    flex-direction: column;
    --gap: 2px;
  }

  .board__grid {
    display: flex;
    gap: var(--gap);
    --size: 15px;
    border: 8px solid var(--magenta);
    padding: 2px;
    background-color: var(--magenta);
  }

  .board__row {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .board__square {
    width: var(--size);
    height: var(--size);
    background-color: var(--black);
  }

  .snake {
    background-color: var(--snake-green);
  }

  /* .head {
    border-radius: 8px 8px 0 0;
  } */

  .food {
    border-radius: 50%;
    background-color: var(--food-pink);
  }

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 0 15px;
    background-color: var(--black);
    border: 3px solid var(--magenta);
  }

  .message--hide {
    display: none;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
  }

  .controls__score {
    display: flex;
  }

  .controls__score p {
    margin: 0;
    padding: 5px 15px;
  }

  .controls__score__box {
    background-color: var(--medium-blue);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4rem;
    padding-right: 0.5rem;
  }
}