#root {
  --gap: 2px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  gap: var(--gap);
  --size: 15px;
  border: 5px solid #000;
  padding: 2px;
  background-color: #aea6a6;
}

.buttons {
  margin-top: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.square {
  width: var(--size);
  height: var(--size);
  background-color: rgb(190, 190, 190);
}

.snake {
  background-color: greenyellow;
}

.food {
  background-color: red;
}

.message-lose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: #fff;
  padding: 0 15px;
  border: 5px solid #000;
}

.message-lose p {
  display: inline-block;
}